[Unit]
Description=Elastic Search
After=network.target

[Service]
Type=forking
User=root

ExecStart=/home/jason/Applications/elasticsearch-1.4.2/bin/elasticsearch -d
ExecStop=/usr/bin/pkill -f eleasticsearch

StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=elasticsearch

[Install]
WantedBy=multi-user.target
