[Unit]
Description=Elastic Search
After=network.target

[Service]
Type=forking
User=root

ExecStart=/home/jason/Applications/elasticsearch-1.4.2/bin/elasticsearch -d
ExecStop=echo "script sucks"

StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=/usr/bin/pkill -f eleasticsearch

[Install]
WantedBy=multi-user.target
