[Unit]
Description=Jetty Container
After=network.target

[Service]
Type=forking
User=root
Environment=JAVA=/usr/lib/jvm/java-7-oracle/jre/bin/java
Environment=JRE_HOME=/usr/lib/jvm/java-7-oracle/jre
Environment=JETTY_BASE=/usr/local/boomi/jetty-base
Environment=JDK7_HOME=/usr/lib/jvm/java-7-oracle
Environment=JETTY_LOGS=/var/log/boomi/jetty 
Environment=JETTY_HOME=/opt/jetty/latest
Environment=JETTY_RUN=/var/run
#Environment="JETTY_ARGS=jetty.state=/usr/local/boomi/jetty-base/jetty.state"
Environment="JAVA_OPTIONS=-Xbootclasspath/p:/usr/lib/jvm/java-7-oracle/lib/tools.jar -Xmx1024m -XX:PermSize=256M -XX:MaxPermSize=512M -Djava.endorsed.dirs=endorsed -Djava.util.logging.config.file=/usr/local/boomi/jetty-base/resources/logging.properties"

ExecStart=/opt/jetty/latest/bin/jetty.sh start
ExecStop=/opt/jetty/latest/bin/jetty.sh stop

StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=jetty

[Install]
WantedBy=multi-user.target
